.services {
    background-color: #CDCDC1;
    padding: calc(4rem + 2.5vw) calc(10vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    .head {
        display: flex;
        align-items: center;
        align-self: flex-start;
        width: 100%;

        p {
            color: #949085;
            font-family: 'Cormorant Garamond';
            font-size: calc(2rem + 3vw);
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 0;
        }

        .line {
            height: 1.5px;
            margin-left: 1rem;
            width: 100%;
            background-color: rgba(148, 144, 133, 0.40);
        }
    }

    .desc {
        margin: 1rem 0rem;

        p {
            color: #4F4F4F;
            text-align: justify;
            font-family: 'Montserrat';
            font-size: calc(.7rem + .8vw);
            font-style: normal;
            font-weight: 300;
            line-height: calc(1.3rem + 1.2vw);
            margin: 0;
        }
    }

    .services {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        column-gap: 9rem;
        padding: 0;
        width: 100%;

        .service {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 1rem 0rem;
            margin-left: 5rem;
            margin-right: 5rem;

            p {
                margin: 0;
                color: #4F4F4F;
                text-align: justify;
                font-family: Gilda Display;
                font-size: calc(.8rem + 1vw);
                font-style: normal;
                font-weight: 400;
                line-height: 40px;
                white-space: nowrap;
                /* 125% */
                transition: all .4s linear;
            }

            img {
                //height: 50%;
                transition: all .4s linear;
                width: calc(2rem + 1.8vw);
                margin: 0.8rem;
                //width: fit-content;
            }

            transition: all .4s linear;

        }

        .service:hover {
            cursor: pointer;
            scale: 1.1;
            filter: brightness(5);

        }
    }

    .btn {

        border-radius: 48px;
        border: 1px solid #000;
        width: fit-content;
        background: #CDCDC1;
        padding: .5rem 2rem;
        margin: 3rem;
        transition: all .2s linear;
        margin-bottom: 0;
        display: flex;

        p {
            margin: 0;
            color: #4F4F4F;
            text-align: justify;
            font-family: Montserrat;
            font-size: calc(1rem + .5vw);
            font-style: normal;
            font-weight: 600;
            line-height: calc(2rem + 1vw);
            /* 125% */
            transition: all .2s linear;
        }

        .imag {
            //display: none;
            transition: display 0.2s linear;
            height: fit-content;
            width: fit-content;

            img {
                height: 0px;
                width: 0px;
                transition: all .5s ease-in-out;

            }
        }
    }

    .btn:hover {
        border-radius: 1000px;
        padding: 2rem 2.4rem;
        cursor: pointer;
        box-shadow: 2px 2px #b8b8b8;
        border: none;
        background-color: rgba(0, 0, 0, 0.25);
        ;

        p {
            display: none;
        }

        .imag {
            img {
                height: 40px;
                width: 40px;
            }
        }
    }

}

.button {
    height: calc(5rem + 5vw);
    display: flex;
    justify-content: center;
    align-items: center;
}