.services {
    background-color: #CDCDC1;
    padding: calc(4rem + 2.5vw) calc(10vw);
    display: flex;
    flex-direction: column;
    align-items: center;

    .head {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            color: #949085;
            font-family: 'Cormorant Garamond';
            font-size: calc(2rem + 3vw);
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 0;
        }

        .line {
            height: 1.5px;
            margin-left: 1rem;
            width: 100%;
            background-color: rgba(148, 144, 133, 0.40);

            ;
        }
    }

    .desc {
        margin: 1rem 0rem;

        p {
            color: #4F4F4F;
            text-align: justify;
            font-family: 'Montserrat';
            font-size: calc(.7rem + .8vw);
            font-style: normal;
            font-weight: 300;
            line-height: calc(1.3rem + 1.2vw);
            margin: 0;
        }
    }

    .services {
        display: grid;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        column-gap: 9rem;
        padding: 0;
        width: 100%;

        .service {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 1rem 0rem;
            margin-left: 5rem;
            margin-right: 5rem;

            p {
                margin: 0;
                color: #4F4F4F;
                text-align: justify;
                font-family: Gilda Display;
                font-size: calc(.8rem + 1vw);
                font-style: normal;
                font-weight: 400;
                line-height: 40px;
                white-space: nowrap;
                /* 125% */
            }

            img {
                height: 50%;
            }

            .c1 {
                transition: all .6s linear;

                .c2 {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    transition: all .4s linear;


                }
            }
        }

        .service:hover {
            cursor: pointer;

            .c1 {
                border: 1px solid #002B53;
                border-radius: 50%;
                padding-bottom: .2rem;
                width: fit-content;
                height: fit-content;

                .c2 {
                    padding: 1.4rem;
                    border-radius: 50%;
                    border: 1px solid #002B53;
                    rotate: -10deg;

                }
            }
        }
    }

    .btn {
        border-radius: 48px;
        border: 1px solid #000;
        width: fit-content;
        background: #CDCDC1;
        padding: .5rem 2rem;
        margin: 3rem;
        transition: all 1s linear;
        margin-bottom: 0;
        display: flex;

        p {
            margin: 0;
            color: #4F4F4F;
            text-align: justify;
            font-family: Montserrat;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: 40px;
            /* 125% */
            transition: all 1s linear;
        }
        .imag{
            //display: none;
            transition: display 1s linear;
            height: fit-content;
            width: fit-content;
            img{
                height: 0px;
                width: 0px;
                transition: all 1s ease-in-out;

            }
        }
    }
    .btn:hover{
        border-radius: 1000px;
        padding: 2rem 2.4rem;
        cursor: pointer;
        box-shadow: 2px 2px #b8b8b8;
        border: none;
        background-color: rgba(0, 0, 0, 0.25);;
        p{
            display: none;
        }
        .imag{
           img{
            height: 40px;
            width: 40px;
           }
        }
    }
   
}
