.hero {
    background-image: url("../../assets/room.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: calc(10rem + 9vw);

        p {
            margin: 0;
        }

        .title {
            color: rgba(243, 234, 221, 0.60);
            font-family: 'Montserrat';
            font-size: calc(0.8rem + 1vw);
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 6.4px;
        }

        .head {
            color: #F3EADD;
            font-family: "Montagu Slab";
            font-size: calc(1.5rem + 4vw);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 1rem;
        }

        .circle {
            margin-top: calc(4rem + 3vw);
            margin-bottom: calc(5rem + 4vw);
            border: 1px solid rgba(243, 234, 221, 0.6);
            width: fit-content;
            border-radius: 100px;
            padding: calc(1rem + 1vw) calc(0.4rem + 0.5vw);

            img {
                width: calc(1.8rem + 2vw);
            }

            transition: all 0.2s linear;
        }

        .circle:hover {
            cursor: pointer;
            background-color: rgba(243, 234, 221, 0.2);
        }
    }
}

.card {
    background-color: rgba(205, 205, 193, 1);
    border: 2px solid #949085;
    margin: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.1s linear;

    @media screen and (max-width : 1076px) {
        margin: 4vw;
    }

    p {
        margin: 0;
    }

    .cover {
        height: calc(10rem + 10vw);
        width: 100%;

    }

    .img {
        padding: 3rem;
        padding-bottom: 0;

        @media screen and (max-width : 1076px) {
            padding: 1.8rem;
        }
    }

    p {
        color: #949085;
        text-align: center;
        font-family: "Montagu Slab";
        font-size: calc(1rem + 1.5vw);
        font-style: normal;
        font-weight: 500;
        line-height: 200%;
        /* 96px */
        text-transform: uppercase;
        margin: 0rem 1vw;
        margin-top: calc(0.5rem + 1vw);
        display: -webkit-box;
        -webkit-line-clamp: 1;
        /* number of lines to show */
        line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .circle {
        border: 1px solid rgba(148, 144, 133, 1);
        border-radius: 40px;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 0.5rem;
        margin: calc(1rem + 1vw);
        margin-bottom: calc(1rem + 2vw);
        visibility: hidden;
        transition: all 0.1s linear;

        img {
            width: calc(1rem + 1vw);
            rotate: -90deg;
            filter: brightness(0.6);
        }
    }

    .circle:hover {
        padding: 1rem;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.50);
    }
}

.card:hover {
    cursor: pointer;

    .circle {
        visibility: visible;
    }
}


.eventcards {
    background-color: rgba(205, 205, 193, 1);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    padding: 6vw;
    @media screen and (max-width : 756px) {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        padding: 2vw;
    }
}
.images {
    margin: 0 auto;
    column-count: 2;
    column-gap: 3vw;
    overflow: hidden;
    padding: 5vw;
    background-color: rgba(205, 205, 193, 1);
    .img {
        overflow: hidden;
        width: 100%;
        img{
           margin: 0 0 2vw 0;
        width: 100%;
        }
        }
    
    }