.footer {
    background-color: #002B53;
    color: #F0EFEB;
    font-family: 'Montserrat';
    font-size: calc(1rem + .5vw);
    font-style: normal;
    font-weight: 500;
    line-height: normal;  
    letter-spacing: 0.96px;
    padding: 0rem 1vw;
    .upper {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
     
        .logo {
            padding: calc(1.5rem + 1vw) 0px;
            width: 33.3%;
            @media screen and (max-width : 515px) {
                width: 100%;
            }
            @media screen and (max-width:1200px) {
                width: 50%;
            }
            img{
                width: calc(6rem + 3vw);
            }
            .social {
                width: 100%;
                display: flex;
                flex-direction: column;
                p {
                    
                    align-self: center;
                }
                .icons {
                    display: flex;
                    justify-content: center;
                   
                    align-items: center;
                    img{
                        width: calc(1rem + 2vw);
                    }
                    a{
                        margin: 0rem 1rem;
                    }
                }
            }
        }
        .links {
            width: 33.3%;
            padding: calc(3rem + 1.4vw) 0px;
            text-align: left;
            @media screen and (max-width:1200px) {
                width: 50%;
            }
           p{
            margin: 0;
           }
            @media screen and (max-width : 515px) {
                display: none;
            }
            .link {
                
                display: grid;
                grid-template-columns: repeat(2, 1fr);
               width: 80%;
                a {
                    margin: .4rem;
                    margin-top: calc(.8rem + 1vw);
                   // margin-left: 0;
                    text-align: left;
                    white-space: nowrap;
                }   
            }
        }
        .address{
            padding: calc(3rem + 1.4vw) 0px;
            width: 33.3%;
        text-align: left;
        @media screen and (max-width:1200px) {
            width: 100%;
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
           margin: 0rem calc(1rem + 1vw);
           padding: 1rem 0;
           //background-color: yellow;
           .temp{
            align-items: center;
           }

        }
            .temp{
              display: flex;
              flex-direction: column;
             
              justify-content: center;
          // background-color: red;
            p{
                margin: 0;
            }
            .desc{
                display: flex;
                //margin: 1rem;
                margin-top: calc(.8rem + 1vw);
                align-items: center;
                justify-content: flex-start;            
               // background-color: red;
                p{
                    margin-left: calc(.4rem  + 1vw);
                    //background-color: yellow;
              }
              img{
                height: calc(1.3rem + .2vw);
                width:  calc(1.3rem + .2vw);
               // background-color: yellow;
              }
            }
        }
    }
    }

    .lower {
        border-top: 1px solid #949085;
        margin: 0rem calc(1rem + 2vw);
        p{margin: 0;
        padding: 1rem 1rem;
        color: #F0EFEB;
font-family: 'Montserrat';
font-size: calc(.8rem + .5vw);
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.8px;
        }
    }
}
.head{
    color: #CDCDC1;
font-family: 'Montserrat';
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.96px;
}