@import url('https://fonts.googleapis.com/css?family=Tahoma');
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display+SC");
body {
  margin: 0;
  font-family: Tahoma,'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:  Tahoma,'Montserrat';
}
