@import url('https://fonts.googleapis.com/css?family=Tahoma');
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Cormorant");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montagu+Slab");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display+SC");
body {
  margin: 0;
  font-family: Tahoma,'Montserrat','Montagu Slab','Cormorant Garamond','Cormorant','Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
html{
  scroll-behavior: smooth;

}
code {
  font-family:  Tahoma,'Montserrat','Montagu Slab','Cormorant Garamond','Poppins','Cormorant';
}
